<div class="d-flex mt-4 mb-4">

	<div class="flex-shrink-0 ">
	<img src="https://cdn.shopify.com/s/files/1/2628/2624/files/MoneyBack-Guarnatee_60_Day.png?v=1616613607" class="my-auto mr-3" alt="60 day money back" style="max-height: 60px;">
		</div>
    <div class="flex-grow-1 ms-3">
        <p class="mt-0" style="font-size: 12px; text-align: left;"><span style="text-decoration: underline;">60-Day 100% Money Back Guarantee</span><br />
            Includes a 60-day, no-hassle money-back guarantee. If this doesn’t fit your needs for any reason, just let us know within 60-days of receiving your order, and we’ll refund 100% of your purchase price. We’ve got your back. </p>
    </div>
</div>
